<!-- <h4>List of Reports</h4>

<div class="list-group">

    <button type="button" class="list-group-item list-group-item-action active">
      <div class="row"  >
        <div class="col-md-2">Agency</div>
        <div class="col-md-8">Administrator</div>
        <div class="col-md-1">Option </div>
        <div class="col-md-1" align="right">Date </div>
        
      </div>
    </button>

    <a class="list-group-item list-group-item" *ngFor="let report of reports | async"   >
  <div class="row">
    <div class="col-md-2 text-dark"><a class="link" [routerLink]="['/report', report.id]">{{report.offName}}</a></div>
    <div class="col-md-7 text-dark">{{report.admin}}</div>
    <div class="col-md-1 text-dark" align="right"><button type="button" class="btn btn-outline-info m2" (click)="openEdit(report)">Edit</button></div>
    <div class="col-md-1 text-dark" align="left"><button type="button" class="btn btn-outline-danger m1" (click)="openConfirm(report.id)">Delete</button></div>
    <div class="col-md-1 text-secondary" align="right">{{report.dateStart   }}</div>
  </div>
  </a>
</div>
<hr> -->
<!-- <div class="row">
  <div class="col-md-11 text-dark"></div>
  <div class="col-md-auto text-dark" align="rigth">
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="previus()"><</button>
    <button type="button" class="btn btn-secondary" (click)="next()">></button>
    </div>
  </div>
</div> -->

<!-- 
<mat-table [dataSource]="reports" matSort class="mat-elevation-z8">
    
    <ng-container matColumnDef="admin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Administrator </mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.admin}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="offName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Agency </mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.offName}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="dateStart">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date Start</mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.dateStart}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="dateEnd" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date End </mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.dateEnd}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="probServ">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Problem Service </mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.probServ}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="serScope">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Service Scope </mat-header-cell>
      <mat-cell *matCellDef="let report"> {{report.serScope}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="op">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Options </mat-header-cell>
        <mat-cell *matCellDef="let report">
            <button mat-stroked-button [routerLink]="['/report', report.id]">Enter</button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
 -->


<mat-list class='list-report'>
    <h4 mat-header>List of Reports</h4>
    <mat-divider></mat-divider>
    
    <mat-list-item class="flex-container">
        

        <span style="flex-basis: 250px"><h5 class="tag" mat-subheader>Agency</h5></span>
        <span style="flex-grow: 50"><h5 class="tag" mat-subheader>Administrator</h5></span>
        <span style="flex-grow: 2;"><h5 class="tag" mat-subheader style="float: right;">Date</h5></span>
      
        <mat-divider [inset]="true" ></mat-divider>
    </mat-list-item>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-list-item class="item-list-container" *ngFor="let report of reports | async"> 
        <span style="flex-basis: 250px"><h6 mat-subheader class="link" [routerLink]="['/report', report.id]">{{report.offName}}</h6></span>
        <span style="flex-basis: 400px"><h6 mat-subheader>{{report.admin}}</h6></span>
        <span style="flex-grow: 20"></span>
        <div class="button-row">
            <button mat-icon-button class='btn-opt'>
              <mat-icon class="icon-option-edit" (click)="openEdit(report)">create</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="icon-option-delete" (click)="openConfirm(report.id)">delete</mat-icon>
            </button>
        </div>
        <span style="flex-basis: 100px;"><h6 mat-subheader style="float: right;">{{report.dateStart  | date:'dd MMM' }}</h6></span>
      <!-- <div class="row"  >
        <div class="col-md-2 text-dark"><a class="link" [routerLink]="['/report', report.id]">{{report.offName}}</a></div>
        <div class="col-md-7 text-dark">{{report.admin}}</div>
        <div class="col-md-1 text-dark" align="right"><button type="button" class="btn btn-outline-info m2" (click)="openEdit(report)">Edit</button></div>
        <div class="col-md-1 text-dark" align="left"><button type="button" class="btn btn-outline-danger m1" (click)="openConfirm(report.id)">Delete</button></div>
        <div class="col-md-1 text-secondary" align="right">{{report.dateStart  | date:'dd MMM' }}</div>
      </div> -->
      <mat-divider [inset]="true" ></mat-divider>
    </mat-list-item>
</mat-list> 
