.toolbar-main {
    padding: 0 200px;
}

.here {
    font-size: x-large;
}

.content {
    width: inherit;
    
}

.buttons {
    min-width: min-content;
    float: right;
}

.pseudobutton {
    cursor: pointer;
    font-size: medium;
  }